.experience-container {
    display: flex;
  }
  
  .experience-sidebar {
    padding: 10px;
  }
  
  .tab {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
  }
  
  .active-line {
    position: absolute;
    top: 0;
    left: -10px;
    border: 1px solid #ccc;
    height: 100%;
  }
  
  .tab.active {
    color: green;
    background: #161616;
  }
  
  .tab-content {
    padding: 10px;
  }
  
  .experience-sidebar .tab {
    display: block;
    margin-bottom: 10px;
  }
  