.experience-container {
    display: flex;
  }
  
  .experience-sidebar {
    padding: 10px;
  }
  
  .tab {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    text-align: left;
    font-size: large;
  }
  
  .active-line {
    position: absolute;
    top: 0;
    left: -10px;
    border: 1px solid #0062ff;
    height: 100%;
  }
  
  .tab.active {
    color: #0062ff;
    background: #161616;
  }
  .active-line:hover {
    color: green;
    background: #161616;
  }
  
  .tab-content {
    padding: 15px;
  }
  
  .experience-sidebar .tab {
    display: block;
    margin-bottom: 30px;
  }
  
  @media screen and (max-width: 767px) {
    .experience-container {
      flex-direction: column;
    }
  
    .experience-sidebar.small-devices {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .experience-sidebar.small-devices .tab {
      margin-bottom: 0;
      margin-right: 10px;
    }
  
    .tab-content.small-devices-content {
      margin-top: 20px;
    }
    .active-line {
        position: absolute;
        top: 60px; 
        left: 0;
        border: 1px solid green;
        width: 100%; 
        height: auto;
      }
      .tab.active {
        color: green;
        /* background: #161616; */
      }
  }
  @media screen and (max-width: 480px) {
    .experience-container {
      flex-direction: column;
    }
  
    .experience-sidebar.small-devices {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .experience-sidebar.small-devices .tab {
      margin-bottom: 0;
      margin-right: 10px;
    }
  
    .tab-content.small-devices-content {
      margin-top: 20px;
    }
    .active-line {
        position: absolute;
        top: 70px; 
        left: 0;
        border: 1px solid green;
        width: 100%; 
        height: auto;
      }
      .tab.active {
        color: green;
        /* background: #161616; */
      }
  }
  